@import "../../styles/variables.scss";

.container-projects {
  .innerContainer-projects {
    margin: 0 2rem;
  }
}

@include breakpoint-small {
  .container-projects {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 2rem;
    padding-top: 3rem;
  }
}
