@import "../../styles/variables.scss";

.container-projects {
  .innerContainer-projects {
    margin: 0 2rem;
  }
}

@include breakpoint-small {
  .container-projects {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 4rem;
    padding-top: 3rem;

    .innerContainer-projects {
      display: grid;
      grid-template-columns: 50% 50%;
      place-content: center;
      grid-gap: 2rem;
    }
  }
}
