@import "../../styles/variables.scss";

.sectionTitle {
  margin: 9rem 0 3rem 0;
  text-align: center;

  h4 {
    margin: auto;
    width: min-content;
    border-bottom: 1px solid $accent-color;
  }
}

@include breakpoint-small {
  .sectionTitle {
    margin: 11rem 0 8rem 0;
  }
}
