@import "../../styles/variables.scss";

.sectionTitle {
  margin: 10rem 0 4rem 0;

  text-align: center;

  h4 {
    margin: auto;
    width: fit-content;

    border-bottom: 1px solid $accent-color;
  }
}
