@import "./variables.scss";

#root {
  font-family: "Nunito sans", Arial, sans-serif;
  // font-family: "Roboto", Arial, sans-serif;
}

body {
  background-color: $body-color;
  color: $main-color;
  display: flex;
  justify-content: center;
}

.App {
  max-width: 1200px;
  background-color: $background-color;
  padding: 0 3%;
}

h1 {
  color: $text-color;
  letter-spacing: 0.2rem;
}

h2 {
  color: $main-color;
}

h4 {
  color: linear-gradient($accent-color, $main-color, $accent-color);
  letter-spacing: 0.1rem;
  text-align: center;
  font-weight: 500;
}

p {
  color: $text-color;
}
