// $body-color: #6c757d;
// $bg-color-main: #0f172a;
// $body-color: whitesmoke;
$bg-color-main: #0a0f1b;
$bg-color-second: #161d2e;
$body-color: $bg-color-second;

$card-color: #1e293b;
// $main-color: #87ceeb;
$main-color: #3b82f6;
$accent-color: #ffa500;
$text-onDark: #cbd5e1;
$text-onLight: $bg-color-main;

@mixin breakpoint($min-width) {
  @media only screen and (min-width: $min-width) {
    @content;
  }
}

@mixin breakpoint-small {
  @include breakpoint(750px) {
    @content;
  }
}

@mixin breakpoint-large {
  @include breakpoint(1200px) {
    @content;
  }
}

@mixin slide-in {
  width: 100%;
  overflow: hidden;

  animation: slide-left 1s;

  @keyframes slide-left {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }
}
