@import "../../styles/variables.scss";

.skills {
  margin-top: 0;
  gap: 2rem;

  .container-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    .skill-section {
      display: flex;
      gap: 0.7rem;
      .icon-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.3rem;

        .icon {
          color: $main-color;
          font-size: 2.8rem;
        }

        p {
          color: $text-color;
          font-size: 0.9em;
        }
      }
    }
  }
}
