@import "../../styles/variables.scss";

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  .skill-section {
    display: flex;
    gap: 0.7rem;

    .icon-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.3rem;

      .icon {
        color: $main-color;
        font-size: 2.3rem;
      }

      p {
        color: $text-color;
        font-size: 0.7em;
      }
    }
  }
}
