@import "../../../styles/variables.scss";

.contactLinks {
  color: $text-color;

  a {
    text-decoration: none;
    color: $text-color;

    border: 1px solid $accent-color;
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    margin: 0;
  }
}
