@import "../../../styles/variables.scss";

.container-matter {
  .resetBtn {
    position: relative;
    button {
      background-color: transparent;
      border: none;
      color: $main-color;
      font-size: 8px;
      opacity: 0.5;
      position: absolute;
      margin-top: 5px;
    }
  }

  .scene {
    margin: 0;
    padding: 0;
    background-color: $body-color;
  }
}

@include breakpoint-small {
  .container-matter:hover {
    cursor: grab;
  }
}
