@import "../../styles/variables.scss";
.container-about {
  .slogan {
    margin-bottom: 2rem;
  }
  .about {
    text-align: center;
    margin: 0 2rem;
  }
}

@include breakpoint-small {
  .container-about {
    width: 100%;
    overflow: none;

    .container-paragraphs {
      display: flex;
      justify-content: space-evenly;
      width: 90%;

      margin: 0 auto;
      align-items: center;

      .about {
        font-size: 1rem;
        max-width: 550px;
      }

      .slogan {
        flex: 300px;
        min-width: 280px;
        max-width: 300px;

        h3 {
          text-align: left;
          font-size: 2.8rem;
        }

        h2 {
          text-align: left;
          font-size: 2.4rem;
        }
      }
    }
  }
}
