@import "../../styles/variables.scss";
.container-about {
  background-color: $bg-color-second;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 5rem;
  border: 1px solid transparent;
  .slogan {
    margin-bottom: 2rem;
  }
  .about {
    text-align: center;
    padding: 0 2rem;
  }
}

@include breakpoint-small {
  .container-about {
    overflow: none;

    width: 80%;

    .container-paragraphs {
      display: flex;
      justify-content: space-evenly;
      color: $text-onDark;
      margin: 0 auto;
      align-items: center;

      .about {
        text-align: left;
        font-size: 1rem;
        max-width: 600px;
        min-width: 300px;
      }

      .slogan {
        flex: 300px;
        min-width: 280px;
        max-width: 300px;

        h3 {
          text-align: left;
          font-size: 2.8rem;
        }

        h2 {
          text-align: left;
          font-size: 2.4rem;
        }
      }
    }
  }
}
