@import "../../styles/variables.scss";

.container-contact {
  margin: 0 5%;

  input,
  textarea {
    background-color: transparent;
    border-color: $main-color;
    border-radius: 4px;
    display: flex;
    width: 100%;
  }
}
