@import "../../styles/variables.scss";

.container-navbar {
  background-color: $background-color;

  .navbar {
    display: none;
  }

  .hamburger {
    position: fixed;
    top: 10px;
    right: 20px;
    font-size: 30px;
  }

  .container-hamburger {
    position: fixed;
    right: 0px;
    top: 10px;
    background-color: $card-color;
    width: 30%;
    height: 25%;
    padding: 30px 10px;
    border-radius: 4px;
    z-index: 99999;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    box-shadow: 0px 0px 8px 0.5px $accent-color;

    svg {
      position: absolute;
      top: 10px;
      right: 15px;
      font-size: 20px;
    }

    ul {
      list-style: none;
      padding: 1rem;

      a {
        color: $text-color;
        text-decoration: none;

        li {
          padding: 5px;
        }
      }
    }
  }

  @include breakpoint-small {
    .hamburger {
      display: none;
    }
    .navbar {
      display: flex;
      justify-content: flex-end;
      padding-right: 20px;
      background-color: $background-color;

      .nav-ul {
        list-style: none;
        display: flex;
        gap: 2rem;
      }
    }
  }
}
