@import "../../../styles/variables.scss";

.slogan {
  margin: 0 5%;
  h2 {
    text-align: center;
    font-family: "Cormorant Garamond", serif;
    font-size: 2.2rem;
  }

  span {
    position: relative;
    text-align: start;
  }
  span::before {
    content: "Web Developer";
    color: $accent-color;
    animation: whatAmI 20s infinite;
  }

  span::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: $background-color;
    border-left: 1px solid $main-color;
    right: -8px;
    animation: cursor 0.8s infinite, typing 20s steps(14) infinite;
  }

  @keyframes cursor {
    to {
      border-left: 2px solid $accent-color;
    }
  }

  @keyframes whatAmI {
    0%,
    20% {
      content: "Web Developer";
    }
    21%,
    40% {
      content: "React Developer";
    }
    41%,
    60% {
      content: "Adaptive Learner";
    }
    61%,
    80% {
      content: "Angular Developer";
    }
    81%,
    100% {
      content: "Food Enthusiast";
    }
  }

  @keyframes typing {
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
      width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
      width: calc(100% + 8px);
    }
  }
}
