@import "../../styles/variables.scss";

.container-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  padding: 4rem 3rem 8rem 3rem;
  background-color: $bg-color-main;
}

@include breakpoint-small {
  .container-hero {
    position: relative;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
    height: 550px;
    padding: 0 5rem;
    padding-bottom: 0;
    background-color: transparent;
    background-image: url("../../images/heroBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: 60%;

    .container-matter {
    }

    .intro {
      margin-top: 6rem;
      h1 {
        font-size: 4.5vw;
      }
      h2 {
        font-size: 2.5vw;
      }
    }
  }
}
