.container-hero {
  display: flex;
  align-items: center;
  gap: 20%;

  padding: 0 2%;

  .intro {
  }
}

@media screen and (max-width: 600px) {
  .container-hero {
    flex-direction: column;
    gap: 5%;
  }
}
